<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit ad, pariatur non nesciunt laboriosam provident soluta dolorem illo quis quasi dolores ullam minus distinctio aliquid beatae cumque, enim quas. Beatae cupiditate aut deleniti iure eum temporibus qui doloribus molestiae similique?</p>
    </div>
</div>